.inputGroup {
  display: flex;
  justify-content: center;
}

.inputGroup input {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 0.9rem;
  color: #3d3d3d;
}

.inputGroup button {
  padding: 10px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
  background-color: #fff;
  cursor: pointer;
}