.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  margin: 0px 10px;
  letter-spacing: -0.05em;
  font-weight: bold;
  color: #FFF;
}

.btnLocation {
  margin-top: 20px;
  width: 15%;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #0F1738;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}